.main{
    max-width: 1100px;
    width: calc(100% - 16px);

}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    background-size: 30px 30px;
}
.inputDueDate {
    position: relative;
    color: transparent;
}

.inputDueDate:before {
    position: absolute;
    /* top: 3px; left: 3px; */
    content: attr(data-date);
    display: inline-block;
    color: black;
}

.inputDueDate::-webkit-datetime-edit, .inputDueDate::-webkit-inner-spin-button, .inputDueDate::-webkit-clear-button {
    display: none;
}

.inputDueDate::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0px;
    right: 1px;
    bottom:0px;
    color: black;
    opacity: 1;
    height:100%;
    padding-bottom:-40px;
    background: url("https://thumbs.dreamstime.com/b/calendar-icon-isolated-white-background-calender-symbol-vector-deadline-date-time-185768391.jpg")  no-repeat;
    background-size: 30px 30px;
    background-position: center;
    cursor: pointer;
    border-left:1px solid black;
}
.checkbox-group {
    position: relative;
    cursor: pointer;
}

.checkbox-group .custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    width: 1.5rem;
    height: 1.5rem;
}

.custom-checkbox ~ .custom-checkbox-span {
    display: inline-block;
    border: 1px solid #000;
    width: 1.1rem;
    height: 1.1rem;
    vertical-align: middle;
    cursor: pointer;
}

.custom-checkbox:checked ~ .custom-checkbox-span:after {
    content: "\2713";
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    left: 1px;
    top: -13px;
    color: #000;
}